---
layout: default
---

<div class="home">

    {{ content }}

    {% assign date_format = "%b %-d, %Y" %}
    <span class="post-meta"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div style="padding-bottom:10px; text-align:center; font-size:25px;font-style:italic;font-family:'Times', serif;">It’s time for ALL Democrats to vote</div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div style="text-align:center;">
                    <a href="https://secure.actblue.com/donate/turnoutblueva" class="btn btn-primary" style="background-color:#003D7F;color:#fff;">Donate</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7 left-border">
                {% for post in site.posts %}
                {% unless post.categories contains 'targeted_district' or post.categories contains 'news_feed' %}
                <div class="row">
                    <h2 class="post-header">
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        <span>{{ post.date | date: date_format }}</span>
                    </h2>
                    {% if post.thumbnail %}
                    <div class="post-thumbnail col-xs-12 col-md-5" style="padding-left:0px;">
                        <img src="{{ site.url }}{{ post.thumbnail }}" style="max-width:100%;max-height:100%;"/>
                    </div>
                    <div class="post-details col-xs-12 col-md-7">
                        <div class="post-excerpt">{{ post.excerpt }}</div>
                        <a href="{{ post.url | relative_url }}">read more...</a>
                    </div>
                    {% else %}
                    <div class="post-details col-xs-12 col-md-12">
                        <div class="post-excerpt">{{ post.excerpt }}</div>
                        <a href="{{ post.url | relative_url }}">read more...</a>
                    </div>
                    {% endif %}
                </div>
                {% endunless %}
                {% endfor %}
            </div><!--posts-->
            <div class="col-xs-12 col-md-5 left-border">
                <h2 style="margin-top:0px; margin-left:0px; text-align:center; font-style: italic; font-family: 'Times', serif;">Targeted Races</h2>
                {% for post in site.posts %}

                <div class="row">
                    {% if post.categories contains 'targeted_district' %}
                    <h2 class="post-header">
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        <span>{{ post.date | date: date_format }}</span>
                    </h2>
                    {% if post.thumbnail %}
                    <div class="post-thumbnail col-xs-12 col-md-4" style="padding-left:0px">
                        <img src="{{ site.url }}{{ post.thumbnail }}" style="max-width:100%;max-height:100%;"/>
                    </div>
                    <div class="post-details col-xs-12 col-md-8">
                        <div class="post-excerpt">{{ post.excerpt }}</div>
                        <a href="{{ post.url | relative_url }}">read more...</a>
                    </div>
                    {% else %}
                    <div class="post-details col-xs-12 col-md-12" style="padding-left:0px">
                        <div class="post-excerpt">{{ post.excerpt }}</div>
                        <a href="{{ post.url | relative_url }}">read more...</a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}

                <!--
                <h2 style="margin-top:0px; margin-left:0px; text-align:center;">News Feed</h2>
                {% for post in site.posts %}

                <div class="row">
                    {% if post.categories contains 'news_feed' %}
                    {% if post.thumbnail %}
                    <div class="post-thumbnail col-xs-12 col-md-4" style="padding-left:0px">
                        <img src="{{ site.url }}{{ post.thumbnail }}" style="max-width:100%;max-height:100%;"/>
                    </div>
                    <div class="post-details col-xs-12 col-md-8">
                        {% assign date_format = "%b %-d, %Y" %}
                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                        <h3>
                            <a class="post-link" href="{{ post.news_url }}">{{ post.title | escape }}</a>
                            <span>{{ post.date | date: date_format }}</span>
                        </h3>
                    </div>
                    {% else %}
                    <div class="post-details col-xs-12 col-md-12" style="padding-left:0px">
                        <h3 class="post-header">
                            <a class="post-link" href="{{ post.news_url }}">{{ post.title | escape }}</a>
                            <span>{{ post.date | date: date_format }}</span>
                        </h3>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
                -->
            </div><!--posts-->
        </div>
    </div>


</div>
