---
layout: default
---

<div class="home">

    {{ content }}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                {% for post in site.posts %}
                    {% unless post.categories contains 'targeted_district' or post.categories contains 'news_feed' %}
                    <div class="row">
                        {% if post.thumbnail %}
                        <div class="post-thumbnail col-xs-12 col-md-4">
                            <img src="{{ site.url }}{{ post.thumbnail }}" style="max-width:100%;max-height:100%;"/>
                        </div>
                        <div class="post-details col-xs-12 col-md-8">
                            {% assign date_format = "%b %-d, %Y" %}
                            <h2>
                                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                            </h2>
                            <span class="post-meta">{{ post.date | date: date_format }}</span>
                            <div class="post-excerpt">{{ post.excerpt }}</div>
                        </div>
                        {% else %}
                        <div class="post-details col-xs-12 col-md-12">
                            {% assign date_format = "%b %-d, %Y" %}
                            <h2>
                                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                            </h2>
                            <span class="post-meta">{{ post.date | date: date_format }}</span>
                            <div class="post-excerpt">{{ post.excerpt }}</div>
                        </div>
                        {% endif %}
                    </div>
                    {% endunless %}
                {% endfor %}
            </div><!--posts-->
            <div class="col-xs-12 col-md-4">
                <h1>Targeted Districts</h1>
                {% for post in site.posts %}
                    {% if post.categories contains 'targeted_district' %}
                        {% if post.thumbnail %}
                        <div class="post-thumbnail col-xs-12 col-md-4">
                            <img src="{{ site.url }}{{ post.thumbnail }}" style="max-width:100%;max-height:100%;"/>
                        </div>
                        <div class="post-details col-xs-12 col-md-8">
                            {% assign date_format = "%b %-d, %Y" %}
                            <h2>
                                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                            </h2>
                            <span class="post-meta">{{ post.date | date: date_format }}</span>
                            <div class="post-excerpt">{{ post.excerpt }}</div>
                        </div>
                        {% else %}
                        <div class="post-details col-xs-12 col-md-12">
                            {% assign date_format = "%b %-d, %Y" %}
                            <h2>
                                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                            </h2>
                            <span class="post-meta">{{ post.date | date: date_format }}</span>
                            <div class="post-excerpt">{{ post.excerpt }}</div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <h1>News Feed</h1>
                {% for post in site.posts %}
                    {% if post.categories contains 'news_feed' %}
                    <div class="row">
                        {% if post.thumbnail %}
                        <div class="post-thumbnail col-xs-12 col-md-4">
                            <img src="{{ site.url }}{{ post.thumbnail }}" style="max-width:100%;max-height:100%;"/>
                        </div>
                        <div class="post-details col-xs-12 col-md-8">
                            {% assign date_format = "%b %-d, %Y" %}
                            <span class="post-meta">{{ post.date | date: date_format }}</span>
                            <h3>
                                <a class="post-link" href="{{ post.news_url }}">{{ post.title | escape }}</a>
                            </h3>
                            <span class="post-meta">{{ post.date | date: date_format }}</span>
                        </div>
                        {% else %}
                        <div class="post-details col-xs-12 col-md-12">
                            {% assign date_format = "%b %-d, %Y" %}
                            <h3>
                                <a class="post-link" href="{{ post.news_url }}">{{ post.title | escape }}</a>
                            </h3>
                            <span class="post-meta">{{ post.date | date: date_format }}</span>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div><!--posts-->
        </div>
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
